body {
 background: green; 
}
body.whoGetsThePott {
 background: #333355;
 text-align: center;
}

.clickable {
 width: 120px;
 height: 40px;
 text-align: center;
 background: #bbffbb;
 border: 4px solid #11bb88;
}
.clickable.grau {
 background: #555555;
 border: 4px dotted #666666;
}

.pott {
 width: 40%;
 height: 40%;
 background: grey;
 position: absolute;
 left: 30%;
 top: 15%;
}
  
.coin { 
 width: 30px;
 height: 9px;
 /* border: 10px dotted #ff4444; */
 position: absolute;
}
 .coin[amount='1'] {
 background: yellow;
 border: 2px dotted #eeeeee;
 }
 .coin[amount='2'] {
 background: #dd3311;
 border: 2px dotted red;
 }
 .coin[amount='5'] {
 background: blue;
 border: 2px dotted #1111dd;
 }
 .coin[amount='10'] {
 background: black;
 border: 2px dotted #666666;
 }
 
.ablage { 
 width: 20%;
 height: 20%;
 border: 1px solid black;
 background: aqua;
 position: absolute;
 bottom: 10px;
 }
 
.ablage.gewinner {
 background: orange;
}
 
.ablage.myTurn {
 border: 3px dotted blue;
}

.ablage[state='passed'] { 
 opacity: 0.25;
}


