body {
 /* background: green; */
}
body.whoGetsThePott {
 background: #333355;
 text-align: center;
}

.clickable {
 width: 120px;
 height: 40px;
 text-align: center;
 background: #bbffbb;
 border: 4px solid #11bb88;
}
.clickable.grau {
 background: #555555;
 border: 4px dotted #666666;
}

.pott {
 width: 40%;
 height: 40%;
 background: grey;
 position: absolute;
 left: 30%;
 top: 15%;
}
  
.coin { 
 width: 30px;
 height: 9px;
 /* border: 10px dotted #ff4444; */
 position: absolute;
}
 .coin[amount='1'] {
 background: yellow;
 border: 2px dotted #eeeeee;
 }
 .coin[amount='2'] {
 background: #dd3311;
 border: 2px dotted red;
 }
 .coin[amount='5'] {
 background: blue;
 border: 2px dotted #1111dd;
 }
 .coin[amount='10'] {
 background: black;
 border: 2px dotted #666666;
 }
 
.ablage { 
 width: 20%;
 height: 20%;
 border: 1px solid black;
 background: aqua;
 position: absolute;
 bottom: 10px;
 }
 
.ablage.gewinner {
 background: orange;
}
 
.ablage.myTurn {
 border: 3px dotted blue;
}


/*

select SP.ANSPRNR, SUBSTR(A.VTNRVOLL, 1, 2) || SUBSTR(A.VTNRVOLL, 4,7) AS vtnr, V.VTNRNAME,
    SUM(DECODE( fktgruppe, NULL, 1, 0))  ohne_Zuordnung,
    SUM(DECODE( fktgruppe, 0, 1, 0)) Eigenbearbeitung,
    SUM(CASE WHEN fktgruppe > 0 THEN 1 ELSE 0 END) Outbound,
    count(*) Gesamt
from AO_Zuordnungen z
right join AO_AUFTRAG_OBNRVOLL a on Z.AUFTNR = A.AUFTNR
 join AO_ANSPRACHEN sp on A.ANSPRID = SP.ANSPRID
 join AO_VERTRETER v on v.vtnrvoll = a.vtnrvoll
where A.ANSPRID =  1294278
and A.GUELT = 'J'
group by SP.ANSPRNR, A.VTNRVOLL,  V.VTNRNAME
order by 2
;

select SP.ANSPRNR, SUBSTR(A.SVTNRVOLL, 1, 2) || SUBSTR(A.SVTNRVOLL, 4,7) AS svtnr, V.SVTNRNAME,
    SUM(DECODE( fktgruppe, NULL, 1, 0))  ohne_Zuordnung,
    SUM(DECODE( fktgruppe, 0, 1, 0)) Eigenbearbeitung,
    SUM(CASE WHEN fktgruppe > 0 THEN 1 ELSE 0 END) Outbound,
    count(*) Gesamt
from AO_Zuordnungen z
right join AO_AUFTRAG_OBNRVOLL a on Z.AUFTNR = A.AUFTNR
join AO_ANSPRACHEN sp on A.ANSPRID = SP.ANSPRID
join ( select distinct svtnrvoll, svtnrname from AO_VERTRETER) v on v.svtnrvoll = a.svtnrvoll
where A.ANSPRID =  1294278
and A.GUELT = 'J'
group by SP.ANSPRNR, A.SVTNRVOLL,  V.SVTNRNAME
order by 2
;

*/
